<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <Property name="LOG_HOME">/log/sso/</Property>
        <Property name="FILE_NAME">sso</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} | %highlight{%-5level | %t} | %C{36}.%M()_%L: %msg%xEx%n"/>
        </Console>
        <RollingRandomAccessFile name="FILE"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}.log">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5level | %t | %C{36}.%M()_%L: %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="org.mybatis" level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>
